{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="icon" type="image/x-icon" href="{%static 'logo.jpg' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{%static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{%static 'particle.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <script src="https://cldup.com/S6Ptkwu_qA.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <title>Emoticon</title>
   <style type="text/css">
  @media screen and (max-width: 700px) {
    .flw{
      margin-top:10%;
    }
  }

   </style>

   <style type="text/css">
  .button {
    position: absolute;
    bottom: 10px;
    
     /*104.5px is half of the button's width*/
}
.test{
  height:1000px;
  
   </style>
   
  
  </head>
  <body style="position:fixed;" id="particles-js">
    <audio id="sfx"><source src="{% static 'mixkit.wav' %}"></audio>
      <center><img style="margin-top:6%;" width="300" src="{%static 'logo.png' %}"></center>
      <center><h3>Select Kid</h3></center>
      <br>
      

      <div  class="row flw justify-content-center">
         {%for i in kid%}
      <div class="col-10 col-md-12 col-lg-2">
       
      <button  style="font-size:24px;margin-bottom:2%" onclick="playsound1(this)" id="{{i.id}}"  class="button-32" role="button">{{i.name}} 
        {% if i.training%}
         <span style="padding-left:10%">  <img width="30px" src="{%static 'tick.png' %}"></span>
        {%endif%}

       </button>
       
      </div>

       {%endfor%}
    </div>







<div class="test">
 <div>
    <div>
      <button onclick="playsound2()" class="button button-32">
            Back
      </button>
    </div>
  </div>
</div>






<script> 

  function playsound1(obj) {
    
    var sfx = document.getElementById("sfx");
        sfx.autoplay = 'true';
    sfx.load();
    var id = obj.id;
    console.log(id)
    
    
     setTimeout(function(){

          window.location.href = "/training/"+ id;
         }, 500);

   
    
   
    

    }
</script>


<script> 

  function playsound2() {
    
    var sfx = document.getElementById("sfx");
        sfx.autoplay = 'true';
    sfx.load();
    
    
    
     setTimeout(function(){
            window.location.href = '/dashboard';
         }, 500);

   
    
   
    

    }
</script>
 
<script type="text/javascript">
  
</script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>